
 <form name="reviewForm"   ng-submit="reviewForm.$valid && addReview(4)" novalidate>
						<blockquote>Form 4
							<b>Stars: {{tabCtrl.review.stars}}</b><br>
							{{tabCtrl.review.body}}<br> <cite>by:
								{{tabCtrl.review.author}}</cite>
						</blockquote>
						<select ng-model="tabCtrl.review.stars" required>
							<option value="1">1 star</option>
							<option value="2">2 stars</option>
							<option value="3">3 stars</option>
							<option value="4">4 stars</option>
							<option value="5">5 stars</option>
						</select><br>
						<textarea ng-model="tabCtrl.review.body" required></textarea>
						<br> <label>by:</label> <input type="email"
							ng-model="tabCtrl.review.author" required />
						<div>Form is {{reviewForm.$valid}}</div>
						<input type="submit" value="Next" />
					</form>
 